<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="nav-header">Full Header Title</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav class="nav-menu">
      <button mat-button><a [routerLink]="['/profile']" routerLinkActive="router-link-active" >Page 1</a></button>
      <button mat-button><a>Page 2</a></button>
    </nav>

  </mat-toolbar-row>
</mat-toolbar>
<div class="nav-content">
  <router-outlet></router-outlet>
</div>
<footer class="nav-footer">
  <mat-card class="nav-footer-card">
    <mat-card-subtitle>Designed By Navin Kumar</mat-card-subtitle>
    <mat-card-subtitle>&copy;2019 Navin Kumar </mat-card-subtitle>
  </mat-card>
</footer>
